body{
    margin:0;
    font-family:Segoe UI, sans-serif;
    background:#101820;
    color:white;
}

header{
    text-align:center;
    padding:100px 20px;
}

header h1{
    font-size:60px;
}

header p{
    font-size:22px;
    color:#cccccc;
}

.download-btn{
    display:inline-block;
    margin-top:30px;
    padding:15px 40px;
    background:#00bcd4;
    color:white;
    text-decoration:none;
    border-radius:10px;
    font-size:20px;
}

.download-btn:hover{
    transform:scale(1.05);
}

.features{
    max-width:1000px;
    margin:auto;
    padding:50px 20px;
}

.card{
    background:#1c2530;
    padding:25px;
    border-radius:15px;
    margin:20px 0;
}
footer{
    text-align:center;
    padding:30px;
    color:#999;
}
